body {
  margin: 9;
  padding: 0;
  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  
  background-color: #849d8f;
  background-image: url("../img/icecream-bg-green.png");
  background-repeat: no-repeat;
  background-position: top center;
}


.site-navigation, .site-navigation-catalog, .nav-enter {
  list-style: none;
}

.site-navigation-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation-catalog a {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  
  background-color: #f8f7f4;
}

.site-navigation-catalog a:hover {
  background-color: #fbded7;
}

.site-navigation-catalog a:active {
  background-color: #f6b5a5;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-search a {
  background-image: url("../img/loupe.svg");
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
}



.nav-search a:hover {
  background-color: rgba(255, 255, 255);
  background-image: url("../img/loupe-hover.svg");
  
}

.nav-form-enter {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.nav-enter-item a {
  color: #ffffff;
  text-decoration: none;
}

.nav-enter .nav-enter-item-img {
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-enter-item .nav-enter-item-img::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/entrance.svg");
  width: 21px;
  height: 19px;
  
}
.nav-enter-item a:hover {
  color: #000000;
}

.nav-enter-item-img:hover::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/entrance-hover.svg");
  width: 21px;
  height: 19px;
  color: #000000;
  
}




.enter {
  font-size: 18px;
  line-height: 24px;
  
  color: #fefefe;
  background-color: #e95038;
  border: none;
}

.enter-characters a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  list-style: none;
}

.enter-characters a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  list-style: none;
  
}


.nav-basket-item .basket-img::before {
  content: url("../img/basket.svg");
}


.nav-enter .nav-basket-item a {
  color: #ffffff;
  text-decoration: none;
}


.nav-enter .basket-img {
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
}

.schedule {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.background-slide {
  list-style: none;
}



.slide-radio .slide-btn {
  background-color: rgba(255,255,255,0);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255);
  
}

.slide-radio .slide-btn:hover {
  background-color: rgba(255,255,255, 0.4);
}

.slide-radio .slide-btn:active {
  background-color: rgba(255,255,255);
}

.main-content-info h2 {
  font-size: 60px;
  line-height: 60.35px;
}

.button {
  background-color: #ed5a3d;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  border: none;

}

.main-content-info .button {
  font-size: 32px;
  line-height: 44px;
}

.main-content-bonus-items {
  list-style: none;
}

.main-content-bonus-items h3 {
  font-size: 35px;
  line-height: 41px;
}

.main-content-item a { /* Ссылки в основном меню с товарами */
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-content-item a:hover, .main-content-item a:active {
  color: #ffbc9e;  
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-content-bonus-items .raspberry:first-child {
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 229px;
}

.main-content-bonus-items .chocolate:last-child {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 229px;
}

.main-content-item {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
}

.main-content-item a::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  
}


.about-us {
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: no-repeat;
  width: 734px;
  height: 433px;
  color: #000000;
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
}

.about-us-items {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
}

.about-us-items li:first-child::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  vertical-align: middle;
}

.about-us-items li:nth-child(2)::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  vertical-align: middle;
}

.about-us-items li:nth-child(3)::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  vertical-align: middle;
}

.about-us-items li:last-child::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  vertical-align: middle;
}

.content-news {
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
  color: #000000;
}

.content-news h3 a {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #000000;
}

.content-subscription {
  background-image: url("../img/gradient-bg.jpg");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  width: 560px;
  height: 220px;
  color: #5a5a5a;
}

.content-subscription p {
  font-size: 16px;
  line-height: 22px;
}

.map-feedback p {
  color: #323232;
  font-size: 14px;
  line-height: 20px;  
}

.map-feedback .map-feedback-address {
  font-size: 18px;
  line-height: 24px;  
}

.map-feedback .map-feedback-phone {
  font-size: 18px;
  line-height: 24px;  
}

.feedback .cross::before {
  content: " ";
  display: inline-block;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  vertical-align: middle;
}

.main-footer-items {
  list-style: none;
}

.main-footer-items li:first-child {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;  
}

.main-footer-items li:nth-child(2) {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;  
}

.main-footer-items li:nth-child(3) {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;  
}

.main-footer-items li:last-child {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;  
}

.main-footer-informations {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
}

.main-footer-informations a:hover, .main-footer-informations a:active {
  color: #ffbc9e;  
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-footer-informations .suppliers a{
  font-weight: 700;
}

.main-footer-informations .suppliers a::before{
  content: " ";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}




